.clientsTable {
  display: grid;
  grid-template-columns: 40px 1fr 30px 80px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  overflow-x: hidden !important;
  align-items: center;

  &.noScroll {
    overflow-y: hidden !important;
    padding-right: 39px;
  }

}

.clientsSearch {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  overflow-y: hidden !important;
}