body {
  background-color: #eaeaea;
  height: 100vh;
}

.container-flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.system-name {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  color: #999;

  svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}