body {
  background-color: #eaeaea;
  height: 100vh;
  font-family: 'Roboto', Calibri, Arial;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.container-flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.system-name {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  color: #999;

  svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}